<ion-app class="login">
  <ion-header class="ion-no-border">
    <ion-toolbar [color]="this.notifiService.themeName == 'dot-mobile' ? 'primary' : ''">
      <div slot="start" class="header-logo">
        <ion-item lines="none" color="priamry" class="ion-no-padding">
          <ion-img *ngIf="this.notifiService.themeName == 'dot-mobile'" src="../../assets/icons/dot-mobile/logo.svg"
            class="mainLogo"></ion-img>
          <ion-img *ngIf="this.notifiService.themeName == 'mobilex'" src="../../assets/icons/mobilex/logo.png"
            class="mainLogo"></ion-img>
        </ion-item>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid class="overlay">
      <ion-row>
        <ion-col size-md="6" offset-md="5" size-lg="4" offset-lg="6" class="form-element">
          <ion-card>
            <form *ngIf="!showVerificationCodeView" (ngSubmit)="validateEmail(false)">
              <ion-row>
                <ion-col class="ion-text-center">
                  <div class="title-tag ion-text-center ">
                    Reset Password
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="ion-padding-top">
                  <ion-item fill="outline" class="textbox">
                    <ion-label position="floating">Email Address
                      <span class="mandatory-field">*</span>
                    </ion-label>
                    <ion-input name="EmailAddress" [(ngModel)]="user.username"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="ion-padding-top" style="margin-top: 7px;">
                  <a style="color:white; text-decoration: underline" routerLink='/login'>Back to Login</a>
                </ion-col>
                <ion-col size="4" offset="4" class="ion-padding-top">
                  <ion-button type="submit" color="primary" expand="block">
                    <ion-label>Next</ion-label>
                  </ion-button>
                </ion-col>
              </ion-row>
              <input type="submit" [hidden]="true" />
            </form>
            <form *ngIf="showVerificationCodeView" (ngSubmit)="resetPassword()">
              <ion-row>
                <ion-col size="3" style=" font-size: 21px; color:
                white;
                margin-top: -4px;">
                  <ion-icon (click)="showVerificationCodeView=false" name="arrow-back-outline"></ion-icon>
                </ion-col>
                <ion-col size="6" class="ion-text-center">
                  <div class="title-tag ion-text-center">
                    Reset Password
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="ion-padding-top ">
                  <ion-item fill="outline" class="textbox read-only item-has-value">
                    <ion-label position="floating">Email Address
                    </ion-label>
                    <ion-input name="EmailAddress-1" readonly="true" [(ngModel)]="user.username"
                      disable="true"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" class="ion-padding-top">
                  <ion-item fill="outline" class="textbox">
                    <ion-label position="floating">Confirmation Code
                      <span class="mandatory-field">*</span>
                    </ion-label>
                    <ion-input name="confirmationCode" [(ngModel)]="user.confirmationCode"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" class="ion-padding-top">
                  <ion-item fill="outline" class="textbox">
                    <ion-label position="floating">Password
                      <span class="mandatory-field">*</span>
                    </ion-label>
                    <ion-input type="password" (ngModelChange)="showPasswordtoggle('keyUp')" #showpassword
                      name="password" [(ngModel)]="user.password"></ion-input>
                    <ion-icon slot="end" class="cursor-pointer" name="eye-outline" title="password" style="color: gray"
                      (mouseup)="showPasswordtoggle('enter')" (mousedown)="showPasswordtoggle('leave')"></ion-icon>
                  </ion-item>
                </ion-col>
                <ion-col size="12" class="ion-padding-top">
                  <ion-item fill="outline" class="textbox">
                    <ion-label position="floating">Confirm Password
                      <span class="mandatory-field">*</span>
                    </ion-label>
                    <ion-input type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword"></ion-input>
                  </ion-item>
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col class="ion-padding-top" style="margin-top: 7px;" size="5">
                  <a style="color:white; text-decoration: underline;" class="cursor-pointer"
                    (click)="validateEmail(true)">Resend Code</a>
                </ion-col>
                <ion-col class="ion-padding-top" size="5" offset="2">
                  <ion-button type="submit" class="confirm-button" expand="block">Reset
                    Password</ion-button>
                </ion-col>
              </ion-row>
              <input type="submit" [hidden]="true" />
            </form>
            <!-- <ion-row>
              <ion-col class="ion-no-padding">
                <div>
                  <h4 style="margin: 0; color: var(--ion-color-secondary); padding: 0 0 0 7px;">Or</h4>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button class="microsoft-button" routerLink="/signup">
                  Signup
                </ion-button>
              </ion-col>
            </ion-row> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>